<form action="/admin/users/add" method="post" data-th-object="${userEntity}">
    <div class="mb-3">
        <label data-th-for="email" class="form-label">Email</label>
        <input type="email"
               class="form-control"
               data-th-field="*{email}"
               placeholder="sam@sam.fr"
               required
        >
        <div class="alert alert-danger" role="alert" data-th-if="${#fields.hasErrors('email')}"
             data-th-errors="*{email}">
            Email Error
        </div>
    </div>
    <div class="mb-3">
        <label data-th-for="password" class="form-label">Mot de passe</label>
        <input type="text"
               class="form-control"
               data-th-field="*{password}"
        >
        <div class="alert alert-danger" role="alert" data-th-if="${#fields.hasErrors('password')}"
             data-th-errors="*{password}">Password Error
        </div>
    </div>
    <div class="mb-3">
        <label data-th-for="confirmPassword" class="form-label">Confirmation Mot de passe</label>
        <input type="text"
               class="form-control"
               data-th-field="*{confirmPassword}"
        >
        <div class="alert alert-danger" role="alert" data-th-if="${#fields.hasErrors('confirmPassword')}"
             data-th-errors="*{confirmPassword}">ConfirmPassword Error
        </div>
    </div>
    <div class="mb-3">
        <label data-th-for="gender">Civilité</label>
        <select data-th-field="*{gender}" class="form-select">
            <option data-th-each="g : ${T(fr.formation.webflix.enums.Gender).values()}" data-th-text="${g}"
                    data-th-value="${g}"></option>
        </select>
    </div>
    <div class="mb-3">
        <label data-th-for="firstname" class="form-label">Prénom</label>
        <input type="text"
               class="form-control"
               data-th-field="*{firstname}"
        >
    </div>
    <div class="mb-3">
        <label data-th-for="lastname" class="form-label">Nom</label>
        <input type="text"
               class="form-control"
               data-th-field="*{lastname}"
        >
    </div>
    <div class="mb-3">
        <label data-th-for="country" class="form-label">Country</label>
        <input type="text"
               class="form-control"
               data-th-field="*{country}"
        >
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg mb-3">Valider</button>
        <button type="reset" class="btn btn-warning btn-lg">Effacer</button>
    </div>
</form>
