<header data-th-fragment="header">
    <h1 class="text-center m-2">Admin<span data-th-if="${title}" data-th-text="${title}"></span></h1>
</header>

<nav class="navbar navbar-expand-lg bg-light" data-th-fragment="navigation">

    <div class="container-fluid">
        <a class="navbar-brand" href="/">Admin Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        User
                    </a>
                    <ul class="dropdown-menu">
                        <!--                        <li><a class="dropdown-item" href="#">Home</a></li>-->
                        <li><a class="dropdown-item" href="/admin/users">User list</a></li>
                        <!--                        <li><hr class="dropdown-divider"></li>-->
                        <li><a class="dropdown-item" href="/admin/users/add">User add</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/categories">Category</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Video
                    </a>
                    <ul class="dropdown-menu">
                        <!--                        <li><a class="dropdown-item" href="#">Home</a></li>-->
                        <li><a class="dropdown-item" href="/admin/videos">Video list</a></li>
                        <!--                        <li><hr class="dropdown-divider"></li>-->
                        <li><a class="dropdown-item" href="/admin/videos/add">Video add</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Actor</a>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users/add">Profiles</a>
            </ul>
        </div>
    </div>
</nav>