<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            height: 100vh;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-align: center;
        }

        h1 {
            width: 100%;
        }

        button {
            border: none;
            padding: 20px 50px;
            font-size: 1.2rem;
        }
    </style>
    <meta charset="UTF-8">
    <title>Erreur 404</title>
</head>
<body>
<h1>Dommage, essaye encore car je ne la connais pas cette adresse ⛔️</h1>
<button onclick="history.back();">Retour</button>
</body>
</html>